#section1-models {
    background-image: url(../Materials/model-s@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px -90px;
}

#section1-modely {
    background-image: url(../Materials/modex-y.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


#modelx-vid {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

li {
    list-style-type: none;
}

.text {
    color: white;
    font-weight: bold;
}

.img-logo {
    width: 100px;
    height: 11px;
}

.container-fluid, .row{
    height: 52px;
}

.nav-link {
    padding-top: 0px;
}

.menubar-center {
    padding-top: 12px;
}

.nav-link:hover {
    color: white;
    text-decoration: none;
}

@keyframes needle {
    0% {transform: rotate(-180deg);}
    100% {transform: rotate(0deg);}
}

.speedometer {
    left: 200px;
    top: 7px;
}

.speedometer-needle {
    width: 20px;
    z-index: 3;
    position: absolute;
    animation-name: needle;
    animation-duration: 2s;
    top: 24px;
    left: 38px;
    transform-origin: 0% 50%;
}

.speedometer-outer {
    position: absolute;
    z-index: 1;
    width: 48px;
    top: 5px;
}

.speedometer-inner {
    position: absolute;
    z-index: 2;
    width: 35px;
    top: 11px;
    left: 21px;
}

.car-number {
    display: inline-block; 
    font-size: 30px;
    font-weight: bold;
}

.car-number-unit {
    display: inline-block; 
    font-size: 25px;
    font-weight: bold;
}

.btn-order-now {
    border: 3px black solid;
    padding: 8px 33px;
    cursor: pointer;
    border-radius: 20px; 
    color: black;
}

.btn-order-now:hover {
    color: white;
    text-decoration: none;
    background-color: black;
}

.btn-learn-more {
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid black;
    border-radius: 50%;
    color: black;
    font-weight: 900;
    font-size: 30px;
}

.btn-learn-more:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

#line1 {
    position: absolute;
    z-index: 2; 
    margin-top: 150px;
    margin-left: 210px;
}

#line2 {
    position: absolute;
    z-index: 2;
    margin-top: 120px;
    margin-left: 380px;
}

#line3 {
    position: absolute;
    z-index: 2;
    margin-top: 390px;
    margin-left: 440px;
}

#line1-description {
    z-index: 3;
    position: absolute;
    margin-top: 140px;
    margin-left: 230px;
}

#line2-description {
    z-index: 3;
    position: absolute;
    margin-top: 110px;
    margin-left: 400px;
}

#line3-description {
    z-index: 3;
    position: absolute;
    margin-top: 495px;
    margin-left: 460px;
}

.video-region {
    position: absolute;
    z-index: 1;
}

.sub-head {
    font-size: 34px;
}

.background-grey {
    background-color: #f1f2f2;
}

.background-white {
    background-color: white;   
}

.degree::after {
    content: "\00b0";
}

.btn-order-now-modelx {
    border: 3px white solid;
    padding: 8px 33px;
    cursor: pointer;
    border-radius: 20px; 
    color: white;
}

.btn-order-now-modelx:hover {
    color: black;
    text-decoration: none;
    background-color: white;
}




